/*

 GTK3 Solaris-style Theme
 aka "Belle Pintos Grande"
  (its real name is actually "BIG PENIS GIGANTOS"
   but I changed it to avoid upsetting people)
 by P.M
 dusthillresident@gmail.com

*/

@define-color bg_normal #AFADBF ;
@define-color bg_bright #C7C4D9 ;  /* #EEEBE7; */
@define-color bg_dim #9E9CAF ;

@define-color border_normal #77748A ;
@define-color border_bright #AFA699 ;
@define-color border_dim #6D6B7C ;

@define-color text_normal #000000;
@define-color text_bright #000000 ;
@define-color text_dim #505050 ;

@define-color selected_bg #B24D7A ;
@define-color selected_text #ffffff ;

/* this means 'window background normal' */
@define-color wbg_normal #FFF7E9 ;


/* some other stuff which may be left unused */

@define-color bg_dimmed_menu #9BA0B0 ;

@define-color view_normal_light #FFF7E9 ;
@define-color view_normal_dark  #FEEAC9 ;

@define-color view_sorted_light  #FEEAC9 ;
@define-color view_sorted_dark   #FADEAD ;


/* this sets the window manager colours in xfce */

.gtkstyle-fallback { color: @text_normal; background-color: @bg_normal; }

.gtkstyle-fallback:hover { color: @text_normal; background-color: @bg_bright; }

.gtkstyle-fallback:active { color: @text_normal; background-color: @bg_dim; }

.gtkstyle-fallback:disabled { color: @text_normal; background-color: @bg_dim; }

.gtkstyle-fallback:selected { color: @selected_text; background-color: @selected_bg; }

/* here's a bunch of shit. all the comments after this are written by the asshole gnome developers unless noted otherwise*/

/* GTK NAMED COLORS ---------------- use responsibly! */
/*
widget text/foreground color */
@define-color theme_fg_color @text_normal;
/*
text color for entries, views and content in general */
@define-color theme_text_color @wbg_normal;
/*
widget base background color */
@define-color theme_bg_color @bg_normal;
/*
text widgets and the like base background color */
@define-color theme_base_color @wbg_normal;
/*
base background color of selections */
@define-color theme_selected_bg_color @selected_bg;
/*
text/foreground color of selections */
@define-color theme_selected_fg_color @selected_text;
/*
base background color of insensitive widgets */
@define-color insensitive_bg_color @bg_dim;
/*
text foreground color of insensitive widgets */
@define-color insensitive_fg_color @text_dim;
/*
insensitive text widgets and the like base background color */
@define-color insensitive_base_color @text_dim;
/*
widget text/foreground color on backdrop windows */
@define-color theme_unfocused_fg_color @text_normal;
/*
text color for entries, views and content in general on backdrop windows */
@define-color theme_unfocused_text_color @wbg_normal;
/*
widget base background color on backdrop windows */
@define-color theme_unfocused_bg_color @bg_normal;
/*
text widgets and the like base background color on backdrop windows */
@define-color theme_unfocused_base_color @text_normal;
/*
base background color of selections on backdrop windows */
@define-color theme_unfocused_selected_bg_color @selected_bg;
/*
text/foreground color of selections on backdrop windows */
@define-color theme_unfocused_selected_fg_color @selected_text;
/*
insensitive color on backdrop windows*/
@define-color unfocused_insensitive_color @bg_dim;
/*
widgets main borders color */
@define-color borders @border_normal;
/*
widgets main borders color on backdrop windows */
@define-color unfocused_borders @border_normal;
/*
these are pretty self explicative */
@define-color warning_color red;
@define-color error_color red;
@define-color success_color green;
/*
these colors are exported for the window manager and shouldn't be used in applications,
read if you used those and something break with a version upgrade you're on your own... */
/* Note from someone who isn't an asshole gnome developer: I set these to random values like 'red' 'green' etc because I don't have any software that uses these and i have no idea what they ought to be set to because I can't test them. */
@define-color wm_title @selected_bg;
@define-color wm_unfocused_title @bg_normal;
@define-color wm_highlight rgba(0, 0, 0, 0);
@define-color wm_borders_edge @bg_normal;
@define-color wm_bg_a red;
@define-color wm_bg_b blue;
@define-color wm_shadow green;
@define-color wm_border red;
@define-color wm_button_hover_color_a @bg_bright;
@define-color wm_button_hover_color_b @bg_bright;
@define-color wm_button_active_color_a red;
@define-color wm_button_active_color_b red;
@define-color wm_button_active_color_c red;
@define-color content_view_bg @wbg_normal;

/* Note: Can't wait for GTK4 to come out and break absolutely everything all over again. Fuck you */
