@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/***********************************************
	 Name: Shades of gray Firefox userChrome.css
	 Author: WernerFP
	 License: GPL-3.0+
	 Last change: 2019-12-08
***********************************************/

*|*:root {

	/****** Shades of gray theme colors ******/

	/* Shades of gray: */
	/*--base_bg_selected: #787878;*/

	/* Orient blue: */
	/*--base_bg_selected: #1B779E;*/

	/* Cerulean blue:; */
	/*--base_bg_selected: #6484a4;*/

	/* Arch blue: */
	/*--base_bg_selected: #1F77B7;*/

	/* Patina green: */
	/*--base_bg_selected: #3c7460;*/

	/* Firebrick: */
	--base_bg_selected: #c14e4e;

	/* Harvest: */
	/*--base_bg_selected: #AD8641;*/

	/*****************************************/

	/* Base */
	--base_dark_color:               #373737;
	--base_color:                    #515151;
	--base_fg:                       #f5f5f5;
	--base_bg:                       #404040;
	--base_bg_active:                #787878;
	--base_fg_selected:              #ffffff;
	--base_fg_insens:                #a3a3a3;

	/* Sidebar */
	--sidebar_bg:                    #3a3a3a;

	/* Tabs */
	--tab_bg:                        #595959;
	--tab_fg_insens:                 #afafaf;

	/* Buttons */
	--button_bg:                     rgba(140, 140, 140, 0.4) !important;
	--button_bg_hover:               rgba(140, 140, 140, 0.6) !important;
	--button_bg_active:              rgba(140, 140, 140, 0.9) !important;

	/* Borders */
	--borders:                       #181818;
	--borders_active:                #787878;

	/* Entry */
	--entry_bg_focus:                #3a3a3a;

	/* Treeview */
	--treeview_row_bg:               #434343;
	--treeview_row_bg_even:          #393939;
	--treeview_row_hover_line:       rgba(255,255,255,0.35);

	/* Links */
	--link_fg_color:                 #4AA6D7;

	/* Panel */
	--panel-separator-color: #323232 !important;

	/* Popup menus */
	--arrowpanel-background: #404040 !important;
	--arrowpanel-dimmed: rgba(128, 128, 128, 0.6) !important;
	--arrowpanel-dimmed-further: rgba(140, 140, 140, 0.6) !important;
	--arrowpanel-dimmed-even-further: rgba(140, 140, 140, 0.9) !important;

	/* QuantumBar */
	--autocomplete-popup-background: #434343 !important;
	--autocomplete-popup-highlight-background: #787878 !important;

	/* Not blue */
	--preference-selected-color: var(--button_bg) !important;
	--preference-unselected-color: var(--button_bg_hover) !important;
	--preference-active-color: var(--button_bg_active) !important;
	--in-content-primary-button-background: var(--button_bg) !important;
	--in-content-primary-button-background-hover: var(--button_bg_hover) !important;
	--in-content-primary-button-background-active: var(--button_bg_active) !important;
	--selected-fill-color: var(--button_bg) !important;
	--chrome-selection-background-color: var(--base_bg_active) !important;

	/* Clean gray without bluish */
	--grey-10: #f9f9f9 !important;
	--grey-20: #ededed !important;
	--grey-30: #d7d7d7 !important;
	--grey-40: #b1b1b1 !important;
	--grey-50: #737373 !important;
	--grey-60: #4a4a4a !important;
	--grey-70: #383838 !important;
	--grey-80: #2a2a2a !important;
	--grey-90: #0c0c0c !important;

	--lwt-toolbar-field-background-color: #575757 !important;
	--lwt-toolbar-field-focus: #3a3a3a !important;
	--lwt-sidebar-background-color: #3a3a3a !important;
	--lwt-sidebar-text-color: #f5f5f5 !important;
	--toolbarbutton-focus-outline: 1px solid rgba(200, 200, 200, 0.75) !important;

	--toolbar-bgcolor: #323232 !important;

	/* Quantumbar -> Megabar (prospective 71+) */
	--urlbar-popup-url-color: var(--link_fg_color) !important;
	--urlbar-popup-action-color: #ffe792 !important;
	--autocomplete-popup-highlight-background: rgba(140, 140, 140, 0.65) !important;
	/* Recommendations in neutral color */
	--cfr-active-color: transparent !important;
}

*|*:root[lwt-popup-brighttext] panel .text-link {

	color: var(--link_fg_color) !important;
}

/******************************************/
/************** Button base ***************/
/******************************************/

button.browser-style.default {

	background-color: var(--button_bg) !important;
	border: 1px solid var(--borders) !important;
}
button.browser-style.default.hover {

	background-color: var(--button_bg_hover) !important;
	border: 1px solid var(--borders) !important;
}
button.browser-style.default.pressed {

	background-color: var(--button_bg_active) !important;
	border: 1px solid var(--borders) !important;
}

/******************************************/
/*********** urlbar, searchbar ************/
/******************************************/

/* FF 60 ESR */
.searchbar-textbox,
/* > FF 60 ESR up to 71+ */
.browser-toolbar > #nav-bar-customization-target > #search-container > #searchbar > .searchbar-textbox {

	background-color: #575757 !important;
}
#urlbar:-moz-lwtheme[focused="true"],
#urlbar:not(.hidden-focus):-moz-lwtheme[focused="true"],
/* FF 60 ESR */
#navigator-toolbox .searchbar-textbox:-moz-lwtheme[focused="true"],
/* > FF 60 ESR up to 71+ */
#navigator-toolbox #searchbar:focus-within:-moz-lwtheme,
.browser-toolbar > #nav-bar-customization-target > #search-container > #searchbar > .searchbar-textbox:focus-within {

	-moz-appearance: none;
	color: var(--base_fg_selected) !important;
	background-color: var(--entry_bg_focus) !important;
	outline: none;
	border-color: var(--borders_active) !important;
}

/******************************************/
/**************** megabar *****************/
/******************************************/

/* NOTE: status of adjustments FF 73 Nightly */
.megabar {

	font-size: inherit !important;
}
.urlbarView-row {

	padding-block-start: 0px !important;
}

/******************************************/
/************* search panel ***************/
/******************************************/

.search-one-offs,
.search-panel-one-offs,
.searchbar-engine-one-off-item[tooltiptext] {

	color: var(--base_fg) !important;
	background-color: var(--entry_bg_focus) !important;
	border: none !important;
	background-color: #3a3a3a !important;
}
.search-one-offs {

	box-shadow: 0 0 18px rgba(0, 0, 0, 0.5) !important;
}
.searchbar-engine-one-off-item[tooltiptext]:hover {

	color: var(--base_fg_selected) !important;
	background: var(--button_bg_hover) !important;
}
.search-panel-header {

	color: var(--base_fg_insens) !important;
	background-color: var(--entry_bg_focus) !important;
}
.search-panel-header > label {

	font-style: italic !important;
}
.search-setting-button {

	color: var(--base_fg) !important;
	background-color: var(--button_bg) !important;
}
.search-setting-button:hover,
.search-setting-button[selected] {

	color: var(--base_fg_selected) !important;
	background-color: var(--button_bg_hover) !important
}
/* Firefox Megabar (prospective 71+) */
#urlbar .search-one-offs:not([hidden]) {

	margin-bottom: 5px !important;
	padding-block: 8px !important;
}

/******************************************/
/************* Identity popup *************/
/******************************************/

.panel-arrow {
/* FIXME more specific if side effects */
	fill: #404040 !important;
}
#identity-popup-mainView,
#identity-popup-cookiesView,
#identity-popup-trackersView {

	background-color: var(--base_bg) !important;
}
#identity-popup-securityView-footer,
#identity-popup-clear-sitedata-button {

	background-color: var(--button_bg) !important;
}
#identity-popup-securityView-footer > button:hover,
#identity-popup-securityView-footer > button:focus,
#identity-popup-clear-sitedata-button:hover,
#identity-popup-clear-sitedata-button:active,
#identity-popup-cookiesView-settings-button:hover,
#identity-popup-cookiesView-settings-button:active,
#identity-popup-trackersView-settings-button:hover,
#identity-popup-trackersView-settings-button:active,
#identity-popup-more-info:hover,
#identity-popup-more-info:active {

	background-color: var(--button_bg_hover) !important;
}
#identity-popup-securityView-footer > button:hover:active,
#identity-popup-clear-sitedata-button:hover:active,
#identity-popup-cookiesView-settings-button:hover:active,
#identity-popup-trackersView-settings-button:hover:active,
#identity-popup-more-info:hover:active {

	background-color: var(--button_bg_active) !important;
	background-color: rgba(140, 140, 140, 0.9) !important;
}
#identity-popup-trackersView-strict-info{

	font-size: 0.95em !important;
	color: #f5f5f5 !important;
	background-color: #415366 !important;
	border: 1px solid #45A1FF !important;
	border-radius: 2px !important;
}
#identity-box.extensionPage {

	max-width: 160px !important;
}
/* Indicator color for validated sites */
*|*:root[lwt-popup-brighttext] .identity-popup-connection-secure,
*|*:root[lwt-toolbar-field-brighttext] #urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity > #identity-icon-labels {

	color: #84c184 !important;
}
#urlbar[pageproxystate="valid"] > #identity-box.verifiedDomain > #connection-icon,
#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity > #connection-icon,
#urlbar[pageproxystate="valid"] > #identity-box.mixedActiveBlocked > #connection-icon,
#identity-popup[connection^="secure"] .identity-popup-security-content {

	fill: #84c184 !important;
}
.identity-popup-connection-not-secure {

	color: #ff7f7f !important;
}

/******************************************/
/*********** Protections popup ************/
/******************************************/

#protections-popup-mainView,
#protections-popup-cookiesView,
#protections-popup-cookiesView,
#protections-popup-cookiesView-list,
#protections-popup-trackersView,
#protections-popup-fingerprintersView,
#protections-popup-siteNotWorkingView,
.protections-popup-section,
#protections-popup-footer,
#protections-popup-siteNotWorkingView-header,
#protections-popup-tp-switch-section,
.protections-popup-list,
#protections-popup-cookiesView > .panel-header,
#protections-popup-trackersView > .panel-header,
#protections-popup-trackersView > .panel-header,
#protections-popup-sendReportView > .panel-header {

	background-color: var(--base_bg) !important;
}
#protections-popup-info-button:hover,
#protections-popup-info-button:-moz-focusring {

	outline-color: var(--button_bg_hover);
	background-color: var(--button_bg_hover);
}
.protections-popup-tp-switch[enabled] {

	background-color: var(--button_bg_hover) !important;
}
.protections-popup-tp-switch:hover {

	background-color: var(--button_bg_active) !important;
}
.protections-popup-description,
#protections-popup-sendReportView-heading > description {

	background-color: rgba(69, 161, 255, 0.2) !important;
}
/* Garish colors of mozilla advertising softened: */
#protections-popup-mainView-panel-header {

	background: radial-gradient(circle farthest-side at top right, #a28ad1, #396eb8) !important;
	filter: grayscale(30%) !important;
}
#protections-popup > .panel-arrowcontainer > .panel-arrowbox > .panel-arrow {

	fill: var(--base_bg) !important;
}

/******************************************/
/**************** sidebar *****************/
/******************************************/

#sidebar,
#sidebar-header,
#bookmarksPanel,
#bookmarks-view,
#history-panel,
#historyTree,
#viewButton {

	color: var(--base_fg) !important;
	background-color: var(--sidebar_bg) !important;

}
.sidebar-placesTreechildren::-moz-tree-cell(hover),
.sidebar-placesTreechildren::-moz-tree-cell-text(hover),
#viewButton:hover {

	color: var(--base_fg_selected) !important;
	background: rgba(128, 128, 128, 0.32) !important;
	text-decoration: none !important;
}
.sidebar-placesTreechildren::-moz-tree-row(selected),
.sidebar-placesTreechildren::-moz-tree-cell-text(selected) {

	color: var(--base_fg_selected) !important;
	background: var(--base_bg_active) !important;
	border: none !important;
}
#sidebar-header,
.sidebar-header {

	font-size: 1.1em !important;
	font-weight: normal !important;
}
#sidebar-switcher-target:hover {

	background-color: var(--button_bg_hover) !important;
}
#sidebar-switcher-target:hover:active,
#sidebar-switcher-target.active {

	background-color: var(--button_bg_active) !important;
}
.search-box > .textbox-input-box {

	height: 2.5em !important;
}
#template-container,
.content-container,
.content-scrollable,
.deck {

	background-color: var(--sidebar_bg) !important;
}

/******************************************/
/**************** findbar *****************/
/******************************************/

.findbar-container,
.findbar-closebutton,
.findbar-closebutton.close-icon  {

	background-color: #323232 !important;
}

/******************************************/
/*************** titlebar *****************/
/******************************************/

#titlebar,
#tabbrowser-tabs {

	--tab-min-height: 30px !important;
}
#tabbrowser-tabs {

	--tab-line-color: var(--base_bg_selected) !important;
}
#TabsToolbar {

	background-color: #262626 !important;
}
#toolbar-menubar {

	background-color: var(--base_dark_color) !important;
}

/******************************************/
/***************** Menus ******************/
/******************************************/

menuseparator {

	-moz-appearance: none !important;
	background: #323232 !important;
	height: 1px !important;
	margin: 4px 0 4px 0 !important;
	padding: 0px !important;
}

/******************************************/
/***************** Popup ******************/
/******************************************/

.panel-arrowcontent,
#BMB_bookmarksPopup menupopup[placespopup=true] > hbox,
menupopup#BMB_bookmarksPopup > menu > menupopup > hbox {

	border: 1px solid  var(--borders) !important;
	color: var(--base_fg) !important;
	background: var(--base_bg) !important;
}
#BMB_bookmarksPopup .subviewbutton > .menu-iconic-left {

	color: #cacaca !important;
}
.panel-subview-footer,[class^="PanelUI-"],
#PopupAutoCompleteRichResult .autocomplete-richlistbox {

	color: var(--base_fg) !important;
	background: var(--base_bg) !important;
}

.popup-notification-button[default][highlight="true"]:not([disabled]) {

	/*background-color: var(--button_bg) !important;*/
	background-color: rgba(140, 140, 140, 0.4) !important;
	box-shadow: inset 0px 0px 1px 1px rgba(255 ,255, 255, 0.5) !important;
}
.popup-notification-button[default][highlight="true"]:hover:not([disabled]) {

	/*background-color: var(--button_bg_hover) !important;*/
	background-color: rgba(140, 140, 140, 0.6) !important;
	box-shadow: inset 0px 0px 1px 1px rgba(255 ,255, 255, 0.5) !important;
}
.popup-notification-button[default][highlight="true"]:hover:active:not([disabled]) {

	/*background-color: var(--button_bg_active) !important;*/
	background-color: rgba(140, 140, 140, 0.9) !important;
	box-shadow: inset 0px 0px 1px 1px rgba(255 ,255, 255, 0.5) !important;
}

.panel-subview-footer:hover,
.downloadsPanelFooterButton:hover,
.downloadsPanelFooterButton[default]:hover,
#BMB_bookmarksPopup .subviewbutton.panel-subview-footer:hover {

	/*background-color: var(--button_bg_hover) !important;*/
	background-color: rgba(140, 140, 140, 0.6) !important;
}
.panel-subview-footer:hover:active,
.downloadsPanelFooterButton:hover:active,
.downloadsPanelFooterButton[default]:hover:active,
#BMB_bookmarksPopup .subviewbutton.panel-subview-footer:hover:active {

	/*background-color: var(--button_bg_active) !important;*/
	background-color: rgba(140, 140, 140, 0.9) !important;
}
/* Default at least! */
.panel-subview-footer,
.downloadsPanelFooterButton,
.downloadsPanelFooterButton[default],
#BMB_bookmarksPopup .subviewbutton.panel-subview-footer {

	/*background-color: var(--button_bg) !important;*/
	background-color: rgba(140, 140, 140, 0.4) !important;
}

#emptyDownloads {

	color: var(--base_fg_insens) !important;
	background: var(--base_bg) !important;

}
.downloadsPanelFooterButton:hover,
.downloadsPanelFooterButton[open="true"] {

	outline: 1px solid transparent !important;
	box-shadow: 0 1px 0 transparent inset !important;
}

#widget-overflow-mainView {

	background-color: var(--base_bg) !important;
}
#overflowMenu-customize-button {

	background-color: var(--button_bg) !important;
}
#overflowMenu-customize-button:hover {

	background-color: var(--button_bg_hover) !important;
}

#downloadsListBox {

	background: var(--base_bg) !important;
}
richlistitem[type="download"][state="1"][exists] .downloadMainArea:hover,
richlistitem[type="download"]:not([verdict]) > .downloadButtonArea:hover,
richlistitem[type="download"][verdict]:hover {

	background: var(--button_bg_hover) !important;
}
richlistitem[type="download"][state="1"][exists] > .downloadMainArea:hover:active,
richlistitem[type="download"]:not([verdict]) > .downloadButtonArea:hover:active,
richlistitem[type="download"][verdict]:hover:active {

	background: var(--button_bg_active) !important;
}

/* Fallback webextension popup background color
(should be set by add-ons, but isn't always) */
.webextension-popup-stack {

	background-color: #ffffff !important;
}

/******************************************/
/************* Places window **************/
/******************************************/

#placesList {

	-moz-appearance: none !important;
	background-color: var(--sidebar_bg) !important;

}
#placesList treechildren::-moz-tree-row {

	min-height: 24px !important;
	padding-bottom: 0px !important;
}
#placesList treechildren::-moz-tree-cell-text {

	font-size: 1em !important;

}
#placesList treechildren::-moz-tree-cell {

}
#placesList treechildren::-moz-tree-cell(hover) {

	background: rgba(128, 128, 128, 0.32) !important;
}
#placesList treechildren::-moz-tree-cell(selected) {

	color: var(--base_fg_selected) !important;
	background-color: var(--base_bg_active) !important;
	outline: 1px solid var(--base_bg_active) !important;
}
#placeContent {

	-moz-appearance: none !important;
	background-color: var(--base_bg) !important;
	border-bottom: 1px solid var(--borders) !important;
}
#placeContent treechildren::-moz-tree-row {

	background-color: var(--treeview_row_bg) !important;
	min-height: 26px !important;
	padding-bottom: 0px !important;
}
#placeContent > treechildren::-moz-tree-row(even) {

	background-color: var(--treeview_row_bg_even) !important;
}
#placeContent > treechildren::-moz-tree-row(hover) {

	border-bottom: 1px solid var(--treeview_row_hover_line) !important;
}
#placeContent > treechildren::-moz-tree-cell(selected) {

	color: var(--base_fg_selected) !important;
	background-color: var(--base_bg_active) !important;
	outline: 1px solid var(--base_bg_active) !important;
}

/******************************************/
/************* Overflow menu **************/
/******************************************/

.panel-header > label {

	font-weight: 400 !important;
	font-size: 1.075em !important;
	text-overflow: ellipsis !important;
	overflow: hidden !important;
}
/* (default 32px in panelUI.css -- IMHO botch) */
.panel-header > .subviewbutton-back + label {

	margin-inline-end: 0 !important;
}
/* (default 29em is too small for many add-ons) */
#widget-overflow panelview[id^="PanelUI-webext-"] .panel-header,
#pageActionPanel panelview[id^="PanelUI-webext-"],
#widget-overflow panelview[id^="PanelUI-webext-"] {

	min-width: 44em !important;
}

/******************************************/
/************* Context menus **************/
/******************************************/

/**************************************************************************
You can use the following instruction to hide items in context menus.
Uncomment selectors of your choice (remove /* at the beginning of a line).
Please note: after the last entry comma is not allowed.
**************************************************************************/

/* #context-openlinkinusercontext-menu,    /* Open link in new container tab */
/* #context-openlinkincontainertab,        /* Open link in new personal tab */
/* #context_reopenInContainer,             /* Reopen tab in container */
/* #context-setDesktopBackground,          /* Set as desktop background */
/* #context-sendimage,                     /* Email image */
/* #context-sendvideo,                     /* Email video */
/* #context-sendaudio,                     /* Email audio */
/* #context-sendlink,                      /* Email link */
/* #context-sendlinktodevice,              /* Send link to device */
/* #context-sep-sendlinktodevice,          /* Separator */
/* #context-sendpagetodevice,              /* Send page to device */
/* #context-sep-sendpagetodevice,          /* Separator */
/* #context_selectAllTabs,                 /* Select all tabs */
/* #context_sendTabToDevice,               /* Send tab to device */
/* #context-savelinktopocket,              /* Save link to pocket */
/* #context-pocket                         /* Save page to pocket */

{ display: none !important; }
