[Desktop Entry]
Version=1.0
Name=Kaplan
GenericName=Pluralsight Kaplan exam for CCNA
Comment=Browse the World Wide Web
Keywords=Internet;WWW;Browser;Web;Explorer
#Exec=env GTK_THEME="Redmond97 Firefox Solaris" /usr/lib/firefox/firefox -P App -new-window https://app.pluralsight.com/paths/certificate/cisco-ccna-cisco-certified-network-associate-200-301
#Exec=chromium https://app.pluralsight.com/paths/certificate/cisco-ccna-cisco-certified-network-associate-200-301
Exec=brave https://app.pluralsight.com/paths/certificate/cisco-ccna-cisco-certified-network-associate-200-301


Icon=firefox
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupNotify=true
StartupWMClass=firefox
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;
