[Desktop Entry]
Version=1.0
Name=Voice-ff
GenericName=google voice
Comment=Browse the World Wide Web
Keywords=Internet;WWW;Browser;Web;Explorer
#Exec=env GTK_THEME="Redmond97 Firefox Solaris" /usr/lib/firefox/firefox -P App --new-window https://voice.google.com/u/0/calls
Exec=/home/connor/.local/dotfiles/laptop/system_scripts/nopath/dotdesktop-wrapper-scripts/voice.desktop.sh

Icon=firefox
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupNotify=true
StartupWMClass=firefox
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;
