[Desktop Entry]
Version=1.0
Name=Youtube Music
GenericName=Youtube Music
Comment=Browse the World Wide Web
Keywords=Internet;WWW;Browser;Web;Explorer
#Exec=/usr/lib/firefox/firefox -P App -new-window https://www.google.com/search?client=firefox-b-1-d&q=youtube+music
Exec=/usr/lib/firefox/firefox -P App -new-window https://music.youtube.com/library/playlists
Icon=firefox
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupNotify=true
StartupWMClass=firefox
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;
